{{!-- This is using addScript --}}
{{!-- This is using allCoursesDisplay --}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome back, Admin</title>

    <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/dashboard/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style2.css">


</head>

<body onload="getCourse()">

    {{!-- The menu bar --}}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <span class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/dashboard">Welcome back, Admin</span>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap"> Admin Dashboard</li>
        </ul>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <div id="signout">
                    <a class="nav-link" href="/logout">Sign out</a>
                </div>
            </li>
        </ul>
    </nav>



    <div class="container-fluid">

        <div class="row">

            {{!-- The dashboard --}}
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <div class="signoutt">
                                <a class="nav-link active" aria-current="page" href="#">
                                    <a href="/dashboard" class="nav-link" style=" font-size: 20px;"> Users
                                    </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="signoutt">
                                <a class="nav-link" href="#">
                                    <a href="/a_courses" class="nav-link" style=" font-size: 20px;"> Courses
                                    </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>


            {{!-- Beginning of the table for courses --}}
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <br>
                <br>
                <h2 class="signoutt">Courses</h2>
                <br>
                <br>
                <div class="table-responsive">
                    <table class="table table-striped table-sm" id="table">
                        <thead>
                            <tr>
                                <th style=" font-size: 20px;">Course Code</th>
                                <th style=" font-size: 20px;">Course Name</th>
                                <th style=" font-size: 20px;">Course Description</th>
                            </tr>
                        </thead>
                    </table>


                </div>
                <br>
                <br>
                {{!-- End of the table for courses --}}

                <!-- Modal for Courses  -->

                {{!-- This is the form for course registration --}}

                <div class="modal fade" id="addCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeCourse">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="course">
                                    <label for="idCourse">Course Id:</label>
                                    <input type="text" class="form-control" required id="idCourse">
                                    <label for="nameCourse">Course Name:</label>
                                    <input type="text" class="form-control" required id="nameCourse">
                                    <label for="description">Course Description:</label>
                                    <input type="text" class="form-control" required id="passCourse">
                                    <div class="modal-footer">
                                        <button class="btn btn-warning" id="submitCourse">Submit</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                {{!-- This is the end of the form registration --}}

                <!-- ****************/ -->
                <br>
                <br>

                <div>
                    <button id="addingCourseModal" class="btn btn-warning" data-toggle="modal" data-target="#addCourse">Add Course</button>
                </div>
            </main>


        </div>
    </div>
    <script type="text/javascript" src="/static/js/addScript.js"></script>
    <script type="text/javascript" src="/static/js/allCoursesDisplay.js"></script>
</body>

</html>