{{!-- No script just the backend redirection --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                <h2 class="font-weight-bold">Login</h2>
                <span> Log in to an existing user</span>
            </div>
            <form action="/login" method="POST" class="pt-3">
                <div class="form-group">

                    <input type="text" id="loginEmail" class="form-control" placeholder="Email" name="email">
                </div>
                <br>
                <div class="form-group">
                    <input type="password" id="loginPassword" class="form-control" name="password"
                        placeholder="Password">
                </div>
                <br>

                <button type="submit" id="loginSubmitBtn" class="btn btn-success">Submit</button>

            </form>
        </div>

        <div id="err">{{error}}</div>
    </div>
</body>

</html>