.nav-item {
  color: #008062 !important;
  font-weight: bold;
  font-size: 15px;
}

.nav-link {
  color: #008062 !important;
  font-weight: bold;
}

.navbar-brand {
  width: 310px;
}

.navbar {
  background-color: #e9f3d2 !important;
}

.navbar-brand {
  background-color: white !important;
  color: #008062 !important;
  font-weight: bold;
}

#signout {
  background-color: white !important;
  color: #008062;
  width: fit-content;
  padding-left: 1cm;
  padding-right: 1cm;
  text-align: center;
}

.signoutt {
  background-color: white !important;
  color: #008062;
  width: 100%;
  height: fit-content;
  /* padding-top: 1em;
    padding-left: 1cm;
    padding-right: 1cm;*/
  text-align: center;
  font-size: 25px;
}

.Header {
  text-align: center !important;
}

#table {
  color: #008062;
  width: 100%;
  height: fit-content;
  text-align: center;
}

#user {
  font-size: 15px;
}

.btn.btn-success {
  padding: 0.4em 2em;
  display: flex;
  position: relative;
  clear: both;
  float: left;
  padding: 5px 10px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #008062;
  background-color: #e9f3d2;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 0;
  position: absolute;
  top: 50%;
  margin-bottom: 0px;
}

.btn.btn-success:hover {
  color: #008062;
  background-color: rgba(102, 51, 153, 0.4);
}

.btn.btn-success:active {
  color: #a2eedb;
  background-color: #008062;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.viewdetails {
  background-color: #e9f3d2;
}

.btn.btn-warning {
  padding: 0.4em 2em;
  display: flex;
  position: relative;
  padding: 5px 10px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #008062;
  background-color: #e9f3d2;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn.btn-warning:hover {
  color: #008062;
  background-color: rgba(102, 51, 153, 0.4);
}

.btn.btn-warning:active {
  color: #a2eedb;
  background-color: #008062;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#adding {
  padding: 0.4em 2em;
  display: flex;
  position: relative;
  padding: 5px 10px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #008062;
  background-color: #e9f3d2;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#adding:hover {
  color: #008062;
  background-color: rgba(102, 51, 153, 0.4);
}

#adding:active {
  color: #a2eedb;
  background-color: #008062;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.listOfCourses {
  letter-spacing: 2px;
}

.modal-body {
  color: #008062;
  font-weight: bold;
}

/* .position-sticky{
    max-width: 1px !important;
} */
/* #sidebarMenu{
    max-width: 1px !important;
} */
table {
  width: 120% !important;
}

td {
  height: 3em;
}

.checkList {
  border: 2px solid black;
  width: 300px;
  height: 100px;
  overflow-y: scroll;
}

th {
  width: fit-content !important;
}

#informationTable {
  color: #008062;
}

#courseTable {
  color: #008062;
  text-align: center;
}
